body {
	font: 16px "Helvetica", Sans-Serif;
	text-color: #595959
	background-color: #ffffff
}


#container {
	width: 800px;
	margin: 40px auto 60px;
}
	
#content-contact {
	margin: 16px 0 16px 0;
	padding: 2px 0 2px 0;
	font-family: "Palatino Linotype", Palatino, serif;
	font-size: 28px;
	text-align: center;
	letter-spacing: -1px;
	background-image: url("MistyWoods.jpg");
	background-position: center;
	border-bottom: 2px solid #999;
}


img {
    border-radius: 50%;
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    width: 40%;
}
#content-header {
	font-size: 24px;	
}	

}

h3 {
	border-bottom: 1px;
	margin-bottom: 2px;
}
h4 {
	margin-top: 0px;
	margin-bottom: 0px;
}
  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #85adad;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
} 
