body {
	font: 12px Helvetica, Sans-Serif;
}

#container {
	width: 1000px;
	margin: 40px auto 60px;
	
}
#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1px;
	border-bottom: 1px solid #999;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1px;
    width: 40%;
}
#content-header {
	font-size: 24px;	
}	
.date {
  float:right;	
}

h3 {
	border-bottom: 1px;
	margin-bottom: 4px;
}
h4 {
	margin-top: 0px;
	margin-bottom: 0px;
}
  /* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
} 
