#container {
	width: 800px;
	margin: 40px auto 60px;
	
#content-professionalheader {
	font-size: 28px;	
}
	
.date {
  float:right;
	
}
h3 {
	border-bottom: 1px;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
